<div class="container">
    <br>
    <div class="col-md-6">
      <div class="card-header">
         Customer Form
      </div>
      <div class="card-body">
       <form  (ngSubmit)="save()" novalidate [formGroup]="customerForm">
           <div class="form-group">

            <input type="text" 
                   class="form-control"  
                   formControlName="CustomerCode"   />
            <div class="col-md-12">
                <label>Name</label>
                <input type="text" 
                       class="form-control"  
                       formControlName="Name"  
                       [ngClass]="{'is-invalid':  ((customerForm.get('Name')?.touched ||
                                                   customerForm.get('Name')?.dirty) &&
                                                  !customerForm.get('Name')?.valid) }" />
                      <span class="invalid-feedback">
                       <span *ngIf="customerForm.get('Name')?.errors?.required">
                         Please enter your name.
                       </span>
                       <span *ngIf="customerForm.get('Name')?.errors?.minlength">
                         The name must be longer than 3 characters.
                       </span>
                     </span>
             </div>
           </div>


           <div class="form-group">
            <div class="col-md-12">
                <label>Email</label>
                <input type="text" 
                       class="form-control"  
                       formControlName="Email"  
                       [ngClass]="{'is-invalid': (customerForm.get('Email')?.touched ||
                                                  customerForm.get('Email')?.dirty) &&
                                                 !customerForm.get('Email')?.valid }" />
                      <span class="invalid-feedback">
                       <span *ngIf="customerForm.get('Email')?.errors?.required">
                         Please enter your email.
                       </span>
                       <span *ngIf="customerForm.get('Email')?.errors?.email">
                        Please enter your email in correct format
                       </span>
                     </span>
             </div>
           </div>

           <div class="form-group">

            <div class="col-md-12">
                <label >Location </label>
                <br>
                <div class="form-check-inline" *ngFor="let country of countries | async">
                   <input class="form-check-input" 
                          type="radio" 
                          formControlName="Location"
                          value="{{country}}"
                         > 
                          {{ country }}
                </div>
                      <span class="invalid-feedback">
                       <span *ngIf="customerForm.get('Name')?.errors?.required">
                         Please enter your name.
                       </span>
                       <span *ngIf="customerForm.get('Name')?.errors?.minlength">
                         The name must be longer than 3 characters.
                       </span>
                     </span>
             </div>
           </div>

           <br>
           <br>

           <div class="col-md-12">
             <button class="btn btn-success" [disabled]="customerForm.invalid">Click</button>
           </div>

       </form>
      </div>
    </div>

<br>Dirty: {{ customerForm.dirty }}
<br>Touched: {{ customerForm.touched }}
<br>Valid: {{ customerForm.valid }}
<br>Value: {{ customerForm.value | json }}
</div>

<br>
<br>
<br>

<p-table #dt [value]="listOfCustomers" 
             styleClass="p-datatable-customers" 
            [rowHover]="true"
            [rows]="10" 
            [showCurrentPageReport]="true" 
            [rowsPerPageOptions]="[5,10,25,50]" 
            [paginator]="true" 
            [loading]="loading"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            [style]="{'width':'100%','overflow':'auto!important'}"
            >
  <ng-template pTemplate="caption">
    <div class="table-header">
        List of Customers
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text"   placeholder="Global Search" />
        </span>
    </div>
</ng-template>
  <ng-template pTemplate="header">
      <tr>
        <th [pSortableColumn]="'Name'">Name
           <p-sortIcon [field]="'Name'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'Email'">Email
          <p-sortIcon [field]="'Email'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'Location'">Location
          <p-sortIcon [field]="'Location'"></p-sortIcon>
      </th>
      </tr>
  </ng-template>
  <ng-template class="ui-widget-header" pTemplate="body" let-customer>
      <tr>
          <td>{{ customer.Name }}</td>
          <td>{{ customer.Email }}</td>
          <td>{{ customer.Location }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteCustomer(customer.CustomerCode)" >
              Delete
            </button>
          </td>
          <td>
            <button class="btn btn-danger" [routerLink]="['/edit', customer.CustomerCode]" >
              Edit
            </button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="8">No customers found.</td>
    </tr>
</ng-template>
</p-table>



<br>
<br>
<br>
<br>